body{
margin: 0px;
padding: 0px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #1C4151;
    line-height: 50px;
    border-left:2px solid red ;
margin: 0px;

}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #1C4151;
    line-height: 45px;
    text-align: center;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #1C4151;
    line-height: 50px;
    margin: 0px;
}

p{
    font-family:'Lato', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;

}
div{
    padding:30px 0px ;
}
section{
    padding: 30px;
}
.green-color{
    color:#139D00 ;
}

img{
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.hero{
    height: 65vh;
}

a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 15px;
    
}
button{
    padding: 15px 40px;
    background-color: green;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color:#1C4151 ;
}

#heroimage img{
    display: block;
    margin: auto;
    padding: auto;
}

.serviceplan{
    width: 30%;
    display: inline-block;
    margin-right: 4%;
    border-radius: 3%;
}

.serviceplan:nth-child(2){
    background-color: rgb(205, 152, 228);
}
.serviceplan:nth-child(3){
    background-color: rgb(232, 248, 222);
}

.serviceplan:last-child{
    margin-right: 0%;
    background-color: bisque;
}


.service{
padding: 20px;

}

.half-width{
    width: 49%;
    display: inline-block;
}

#aboutme img{
    width: 60%;
    display: block;
    margin: auto;
    padding: auto;
}

#project img{
    width: 60%;
    display: block;
    margin: auto;
    padding: auto;
}
#freelancem img{
    width: 70%;
    display: block;
    margin: auto;
    padding: auto;  
}

.footer{
    background-color: black;
   
}
.footer p{
    color: white;
    text-align: center;
}